*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #070F2B;
    font-family: 'poppins' , sans-serif;
    position: relative;
}
h1{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    text-transform: uppercase;
    color: #e0c213;
}
section{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient( circle 815px at 23.4% -21.8%,  rgba(9,29,85,1) 0.2%, rgba(0,0,0,1) 100.2% );
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}
.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 1rem;  
}
.clock div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2, span{
    font-size: 4em;
    margin: 0 10px;
    background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
    background-clip: text;
    color: transparent;
}
.date{
    color: #FDA403;
    font-size: 18px;
}
.box{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
}
.box1{
    top: 0;
    left: 100px;
}
.box2{
    left: 100px;
    bottom: 20px;
}
.box3{
    right: 100px;
    top: 0px;
}
.box4{
    right: 100px;
    bottom: 0px;
}